body{
    font-family: 'Lucida Sans';
    background-color: #ddd;
}
.main{
    padding: 0 40px;
}
.header{
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 25px 0;
}
.header h2{
    letter-spacing: 6px;
    color: red;
}
.nav{
    display: flex;
}
.nav a{
    color: black;
    font-size: 20px;
    padding: 0 25px;
    text-decoration: none;
}
.nav li{
    list-style-type: none;
}
.carousel img{
    max-height: 450px;
}
.carousel-caption h2{
    font-size: 40px;
}
.carousel-caption p{
    font-size: 26px;
}
.blogs_aboutme{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.blogs{
    width: 65%;
}
.card{
    padding: 40px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
.card img{
    padding: 20px 0;
    height: 300px;
    margin: auto;
}
button{
    width: 150px;
    padding: 8px 0;
    background: #0000;
    border: 1px solid orange;
    margin: auto;
}
.about_me{
    width: 30%;
}
.about_me p{
    padding-top: 15px;
}
.popular{
    background-color: #eee;
    padding: 10px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}
.popular a{
    text-decoration: none;
    color: black;
}
.footer{
    padding: 20px;
    background: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer h2{
    text-align: center;
}
.submit_button{
    margin-top: 20px;
    text-align: center;
}